<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Application - Edit Post</title>
</head>

<header th:replace="layout :: logged-in"></header>

<body>
<h1>Edit Post</h1>

<form th:method="put" th:object="${post}" th:action="@{/editpost(postId=${post.id})}">
    <div>Post Title:</div>
    <div><input type="text" id="title" name="title" th:value="${post.title}" /></div>

    <div>Description:</div>

    <div><textarea rows="7" cols="100" name="body" th:value="${post.body}"></textarea></div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

</body>

</html>