<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Application - Login</title>
</head>

<header th:replace="layout :: logged-out"></header>

<h2>Please Login:</h2>

<form method="post" th:object="${user}" th:action="@{/users/login}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" />
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" />
    <input type="submit" value="Login" />
</form>

</html>